/* 폰트 시작 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
  font-family: 'Ubuntu', sans-serif;
}
/* 폰트 끝 */

/* 노멀라이즈 시작 */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;		/* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}

body {
  background-color: #FAF3E1;
}

a {
  color: inherit;		/* 부모 엘리먼트의 값을 물려받는다 */
  text-decoration: none;	/* 해당 태그의 text-decoration을 none으로 하는 것으로 밑줄을 제거한다 */
}
/* 노멀라이즈 끝 */