@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
  font-family: 'Indie Flower', cursive;
}

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.con-min-width{
    min-width: 1200;
    padding: 0 10px;
}

.con{
    margin-left: auto;
    margin-right: auto;
}

.con{
    width: 700px;
}

.menu-bar__menu-box-1 > ul > li {
    display: inline-block;
}

.menu-bar__menu-box-1 > ul {
    text-align: center;
}

.logo-bar > div {
    text-align: center;
}

.menu-bar__menu-box-1 > ul > li:hover > a {
  color: #FF9C91;
  text-decoration: underline;
}

.logo-bar > div > .logo-bar__logo {
  font-size: 5rem;
  text-decoration: underline;
}

.menu-bar__menu-box-1 > ul > li > a {
  display: block;
  font-size: 2rem;
  padding: 10px 30px;
}

.menu-bar__menu-box-1 > ul > li:hover > a {
  color: #CD3F3E;
  text-decoration: underline;
}

.logo-bar > div > .logo-bar__logo > span > span:nth-of-type(2) {
  color: #CD3F3E;
}