.updatePwd{
    width: 400px;
    height: 300px;
    padding: 50px;
    box-sizing: border-box;
    margin: 0 auto;
}

.updatePwd > h3{
    font-size: 21px;
    color: #1C2938;
    margin-bottom: 20px;
}
.updatePwd > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
.updatePwd > input::placeholder{
    color: #595454;
}
.updatePwd > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #18066b;
    margin-top: 20px;
}

#btn_toggle{
  font-size:16px;
  padding:10px 15px;
  border-radius:5px;
  font-weight:bold;
}
#Toggle{
  font-size:14px;
  color: #666;
}